/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.heading {
  margin-top: 32px;
  text-align: center;
}

.headingStep {
  font-size: 14px;
  letter-spacing: 0.08333em;
}

.selectTitle {
  width: 160px;
  margin-top: 22px;
  font-size: var(--ifm-h4-font-size);
}

.selectOption {
  width: 440px;
  margin: 8px;
}

.selectButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eae7ed;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.selectLabel {
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.selectImg {
  padding: 11px;
  height: 32px;
  width: 32px;
}

.selectRadio {
  margin-right: 11px;
  cursor: pointer;
}

.selectDescription {
  padding: 8px;
  font-size: 15px;
  color: #595959;
  background-color: #fafafa;
  border: 1px solid #eae7ed;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.break {
  width: 100%;
  border-top: 1px solid #eaeaea;
}

.templates {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.templateImg {
  height: 400px;
  filter: drop-shadow(2px 2px 2px #222);
}

.featuresSection {
  background-color: #fafafa;
  padding-bottom: 40px;
  padding-top: 1px;
  margin-top: 20px;
  border-top: 1px solid #eaeaea;
  justify-content: start;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureBox {
  width: 340px;
  padding: 18px;
  font-size: 15px;
  color: #595959;
  margin: 20px;
  border: 1px solid #eae7ed;
  border-radius: 4px;
  background-color: white;
}

@media screen and (max-width: 1154px) and (min-width: 775px) {
  .featureBox:last-child {
    margin-right: 400px;
  }
}

@media screen and (max-width: 1090px) {
  .selectOption {
    width: 380px;
  }
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .selectTitle {
    width: 100%;
    margin-left: 20px;
  }

  .selectOption {
    width: 100%;
  }

  .templates {
    flex-direction: column;
  }
}
